In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\kligh\miniconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kligh\miniconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kligh\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kligh\miniconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kligh\miniconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\kligh\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

# Display basic information about the DataFrame
print("\nDataFrame Info:")
df.info()

# View first 5 rows
print("\nFirst 5 Rows:")
df.head()

DataFrame:
       Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

First 5 Rows:

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [2]:
# Selecting a column
print("\nNames Column:\n", df['Name'])

# Adding a new column
df['Salary'] = [70000, 80000, 90000]
print("\nDataFrame with Salary:\n", df)

# Filtering data
filtered_df = df[df['Age'] > 28]  # Filter rows where Age > 28
print("\nFiltered DataFrame (Age > 28):\n", filtered_df)

Names Column:
 0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

DataFrame with Salary:
       Name  Age           City  Salary
0    Alice   25       New York   70000
1      Bob   30  San Francisco   80000
2  Charlie   35    Los Angeles   90000

Filtered DataFrame (Age > 28):
       Name  Age           City  Salary
1      Bob   30  San Francisco   80000
2  Charlie   35    Los Angeles   90000

In [3]:
# Create DataFrame with missing values
data_with_nan = {'Name': ['Alice', 'Bob', None], 'Age': [25, None, 35], 'City': ['New York', None, 'Los Angeles']}
df_nan = pd.DataFrame(data_with_nan)
print("\nDataFrame with Missing Data:\n", df_nan)

# Fill missing values
df_filled = df_nan.fillna("Unknown")
print("\nDataFrame with Filled Missing Values:\n", df_filled)

# Drop rows with missing values
df_dropped = df_nan.dropna()
print("\nDataFrame with Dropped Missing Values:\n", df_dropped)

DataFrame with Missing Data:
     Name   Age         City
0  Alice  25.0     New York
1    Bob   NaN         None
2   None  35.0  Los Angeles

DataFrame with Filled Missing Values:
       Name      Age         City
0    Alice     25.0     New York
1      Bob  Unknown      Unknown
2  Unknown     35.0  Los Angeles

DataFrame with Dropped Missing Values:
     Name   Age      City
0  Alice  25.0  New York